<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/wwwroot/css/style.css">
</head>

<body>
    
    <main>

        <section class="container">
            <div class="banner"></div>
            <div class="texto-banner">
                <h1>Moda</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed fugiat ut quis omnis et nostrum eos
                    assumenda, molestias blanditiis laborum voluptatum ea quia fuga nemo quasi nesciunt dolor provident
                    consequuntur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam itaque cum numquam reprehenderit dicta tempora ea similique provident nihil, debitis eaque repellendus perferendis, odit quod! Maiores provident doloremque sint sunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam perspiciatis fuga eaque adipisci quo eveniet asperiores laboriosam. Sint inventore molestiae, vel aperiam rem hic delectus rerum deleniti atque dicta adipisci?s</p>
                    <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et dolore vero recusandae nemo sunt illum
                    corporis quod optio distinctio deserunt. Deleniti magni repudiandae praesentium, nobis provident
                    esse recusandae eius quam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quam eum officia voluptatibus
                    ipsum quia fugit fugiat, 
                    </p>
                    <p>
                    accusantium perferendis vel eaque doloremque similique laborum, numquam est
                    reprehenderit expedita. Ea, doloribus!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquam hic obcaecati cum! Porro amet magnam totam, quam incidunt aliquid quis, dolores delectus laudantium id asperiores ad. Est, ipsam quod!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ipsum minus in repellat cumque culpa enim maxime consequuntur nesciunt delectus recusandae illo ea architecto amet dolores eligendi quis, sit accusantium?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex voluptatibus esse eligendi? Perferendis vero maiores, dignissimos veritatis autem vitae temporibus quaerat quos. Debitis vel ea nesciunt ipsam saepe, est libero.

                </p>
            </div>
        </section>



        <article  class="container container-article">
            <div class="artigo">
                <div class="img-artigo"></div>
                <div class="texto-artigo">
                    <h1>Masculino</h1>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident a tempora veniam molestias
                        odio id natus, quibusdam veritatis </p>
                    <br>
                    <button class="link-artigo">Saiba mais</button>
                </div>
            </div>
            <div class="artigo">
                <div class="img-artigo"></div>
                <div class="texto-artigo">
                    <h1>Retro</h1>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident a tempora veniam molestias
                        odio id natus, quibusdam veritatis ?</p>
                    <br>
                    <button class="link-artigo">Saiba mais</button>
                </div>
            </div>
            <div class="artigo">
                <div class="img-artigo"></div>
                <div class="texto-artigo">
                    <h1>Romantico</h1>
                    <br>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident a tempora veniam molestias
                        odio id natus, quibusdam veritatis </p>
                    <br>
                    <button class="link-artigo">Saiba mais</button>
                </div>
            </div>
        </article>
    </main>
    
</body>

</html>