@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<body>
    <main>
        <section class="banner">
            <div class="botaos">
                <button class="botao-musico"></button>
                <button class="botao-participantes"></button>
            </div>
        </section>
        <section class="info">

        </section>
    </main>
</body>