<body>
    <main>

        <section class="formulario">
            <form method="POST" action='@Url.Action("Cadastrar")'>
                <label>Nome</label>
                <input type="text" name="Nome" />

                <label>Email</label>
                <input type="Email" name="Email" />

                <label>Senha</label>
                <input type="Senha" name="Senha" />

                <button type="submit">Cadastrar</button>
            </form>

        </section>
    </main>
</body>