<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/wwwroot/css/style.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="Img-mocas1">
                <div class="moca1"></div>
                <div class="moca2"></div>
                <div class="moca3"></div>
            </div>
            <div class="texto1-femenino">
                <h1>Retrô</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ea quisquam nobis consequuntur architecto ab quis id aliquam consequatur eaque, quia culpa, temporibus dolor dicta quod esse minima voluptatibus obcaecati.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, nobis. Necessitatibus nemo tempore cum, magnam ex adipisci ab quae ipsam cumque mollitia doloremque quos hic dolores nostrum recusandae dicta voluptas.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nesciunt at adipisci nihil, cum iure, accusantium, repellat qui reprehenderit laboriosam placeat! Nulla voluptatum praesentium placeat quas eligendi architecto dolorum nemo.
                </p>
            </div>
            <div class="Img-mocas2">
                <div class="moca1"></div>
                <div class="moca2"></div>
                <div class="moca3"></div>
            </div>
            <div class="texto2-femenino">
                <h1>Romântico</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ea quisquam nobis consequuntur architecto ab quis id aliquam consequatur eaque, quia culpa, temporibus dolor dicta quod esse minima voluptatibus obcaecati.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, nobis. Necessitatibus nemo tempore cum, magnam ex adipisci ab 
                    quae ipsam cumque mollitia doloremque quos hic dolores nostrum recusandae dicta voluptas.</p>
                    <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nesciunt at adipisci nihil, cum iure, accusantium, repellat qui reprehenderit laboriosam placeat! Nulla voluptatum praesentium placeat quas eligendi architecto dolorum nemo.
                </p>
            </div>
        </section>

    </main>
</body>
</html>